{% load static %}
{% load humanize %}
{% block css %}
<style>
    .sidebar-content > div >div {
        padding: 10px;
        margin: 0;
    }
</style>
{% endblock %}

<div class="sidebar-content container-fluid border shadow-sm my-3" style="background-color: white;">

    <div class="row">
        <div class="col d-flex">
            <img class="img-fluid rounded-circle me-3" src="{{i.shared_user.profile.picture.url}}" alt="Logo" style="width: 50px;">
            <section>
                <h5 class="p-0 m-0"> <a class="nav-link" href="{% url 'users:profile' i.author.username %}">{{i.shared_user.username}}</a> </h5>
                <span class="text-secondary">{{i.shared_on|naturaltime}}</span>
            </section>
        </div>
        <div class="col d-flex justify-content-end">
            
            {% if i.author %}
                <div class="dropdown">
                    <button class="bi bi-three-dots-vertical text-secondary btn m-0 p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item"  href="{% url 'social:post-edit' i.pk %}">Edit</a></li>
                        <li><a class="dropdown-item"  href="{% url 'social:post-delete' i.pk %}">Delete</a></li>
                        <li><a class="dropdown-item"  href="{% url 'social:post-detail' i.pk %}">View</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col d-flex flex-column">

            {{i.shared_body}}
            <div class="border">
                {{i.body}}
            </div>
        </div>
    </div>
    <div class="row mb-2">

    </div>
    <div class="row">
        <div class="row border-top">
            <div class="col d-flex">
                <section class="d-flex border rounded me-2">
                    <form method="post" action="{% url 'social:like' i.pk %}">{% csrf_token %}<button class="btn">
                        <span>{{i.likes.all.count}}</span>
                        <span class="text-secondary">like</span>
                        <i class="bi bi-hand-thumbs-up-fill text-primary"></i>
                    </button></form>
                </section>
                <section class="d-flex border rounded">
                    <form method="post" action="{% url 'social:dislike' i.pk %}">{% csrf_token %}<button class="btn">
                        <span>{{i.dislikes.all.count}}</span>
                        <span class="text-secondary">dislike</span>
                        <i class="bi bi-hand-thumbs-down-fill text-danger"></i>
                    </button></form>
                </section>
            </div>
            <div class="col d-flex justify-content-end">
                <section class="d-flex align-items-center border rounded ms-1">
                    <button class="btn text-secondary"><i class="bi bi-chat text-secondary me-1"></i>Comment</button>
                </section>

                <!-- Modal -->
                <div class="modal fade" id="ModalSharePost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <form action="{% url 'social:share-post' i.pk %}" id="{{i.pk}}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Share Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{share_form}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>