{% load static %}
{% load humanize %}
{% block css %}
<style>
    .sidebar-content {
        background-color: white;
        border: 1px solid #dddddd;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
        margin: 20px 0 20px 0;
    }

    .sidebar-content > div >div:first-child {
        padding: 10px;
        margin: 0;
    }

</style>
{% endblock %}

<div class="sidebar-content container-fluid">

    <div class="row">
        <div class="col d-flex">
            <img class="img-fluid rounded-circle me-3" src="{{i.author.profile.picture.url}}" alt="Logo" style="width: 50px;">
            <section>
                <h5 class="p-0 m-0"> <a class="nav-link" href="{% url 'users:profile' i.author.username %}">{{i.author.first_name}}</a> </h5>
                <span class="text-secondary">{{i.created_on|naturaltime}}</span>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex flex-column">
            <section>
                <p class="m-0 mb-2 p-0">{{i.body}}</p>
            </section>
            <img class="img-fluid" src="{{i.image.image.url}}">
            
        </div>
    </div>

    <div class="row">
        <div class="row border-top">
            <section class="col d-flex">
                
                <div class="d-flex align-items-center border rounded">
                    <button class="btn text-secondary"><i class="bi bi-hand-thumbs-up text-secondary me-1"></i>Like</button>
                </div>
                <div class="d-flex align-items-center border rounded ms-1">
                    <button class="btn text-secondary"><i class="bi bi-chat text-secondary me-1"></i>Comment</button>
                </div>
                <div class="d-flex align-items-center border rounded ms-1">
                    <button class="btn text-secondary"><i class="bi bi-share text-secondary me-1"></i>Share</button>
                </div>
            </section>
        </div>
    </div>
</div>