{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/content/main/left.css' %}"> {% endblock %}
<div class="sidebar-left">
    <h3>Opciones</h3>
    <ul>
        <li><a href="#">Explorar</a></li>
        <li><a href="#">Crear</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Configuraciones</a></li>
    </ul>
    <h3>Mis Favoritos</h3>
    <ul>
        <li><a href="#">Amigos</a></li>
        <li><a href="#">Bookmarks</a></li>
        <li><a href="#">List</a></li>
    </ul>
</div>