{% load static %}
<!-- Caja para publicar -->
<div class="sidebar-public">
    <div class="d-flex align-items-center justify-content-start">
        <img src="{% static 'img/user.png' %}" alt="Logo" height="40">
        <form class="w-100"><input class="form-control" type="text" placeholder="En que piensas?"></form>
     </div>
    <div class="d-flex align-items-center justify-content-around">
        <span class="bi bi-heart-fill text-danger fs-5"><a href="#">Fans</a></span>
        <span class="bi bi-shop text-success fs-5"><a href="#">Productos</a></span>
        <span class="bi bi-folder-fill text-warning fs-5"><a href="#">Libreria</a></span>
    </div>
</div>