{% load static %}
{% block css %}
<style>
    .sidebar-public {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: white;
        border: 1px solid #dddddd;
        border-radius: 20px;
        padding: 10px 10px 0px 10px;
        box-shadow: 0 0 4px #d8d8d8;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

<div class="sidebar-public container-fluid">
    <div class="row">
        <section class="d-flex">
            <div>
                <img class="img-fluid rounded-circle me-3" src="{{user.profile.picture.url}}" alt="Logo" style="width: 50px;">
            </div>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="form-control text-start" style="color: gray;">En que estas pensando?</button>
        </section> 
    </div>
    <div class="row ">
        <section class="d-flex justify-content-around align-items-center">
            <span class="bi bi-heart-fill text-danger fs-5"><a href="#">Fans</a></span>
            <span class="bi bi-shop text-success fs-5"><a href="#">Productos</a></span>
            <span class="bi bi-folder-fill text-warning fs-5"><a href="#">Libreria</a></span>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">

    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{form.image}}
            {{form.body}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </div>
    </form>

</div>
</div>

{% for i in posts %}
    {% include 'components/Sidebars/post.html' %}
{% endfor %}