{% extends 'pages/base.html' %}

{% load static %}
{% load humanize %}
{% block css %}
<style>
    .post-detail {
        background-color: white;
        border: 1px solid #dddddd;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px ;
        padding: 20px 20px 0px 20px;
        max-width: 50%;
    }

    @media (max-width: 900px) {
        .post-detail {
            max-width: 100% ;
        }
    }

</style>
{% endblock %}
{% block content %}
    

<div class="container-fluid d-flex justify-content-center">

    <div class="post-detail">

        <div class="row">
            <div class="col d-flex flex-column">
                <section class="d-flex justify-content-center border">
                    <img class="img-fluid" src="{{post.image.image.url}}" style="max-width: 60%;">
                </section>
                <section class="border-top border-bottom p-1 mt-2">
                    <p class="m-0 text-secondary text-break">{{post.body}}</p>
                </section>
            </div>
        </div>

        <div class="row my-2">
            <div class="col d-flex align-items-center">
                <section >
                    <img class="img-fluid rounded-circle me-3" src="{{post.author.profile.picture.url}}" alt="Logo" style="width: 50px;">
                </section>
                <section>
                    <h6 class="p-0 m-0"> <a class="nav-link" href="{% url 'users:profile' username=post.author.username %}">{{post.author.first_name}}</a> </h6>
                </section>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                
                {% if post.author %}
                    <div class="dropdown">
                        <button class="bi bi-three-dots-vertical text-secondary btn m-0 p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item"  href="{% url 'social:post-edit' post.pk %}">Edit</a></li>
                            <li><a class="dropdown-item"  href="{% url 'social:post-delete' post.pk %}">Delete</a></li>
                        </ul>
                    </div>
                {% endif %}
    
            </div>
        </div>
        <div class="row mb-2">
            <div class="col d-flex">
                <section class="d-flex border rounded p-2 me-2">
                    <span class="text-secondary me-2">{{post.likes.all.count}}</span>
                    <span class="text-secondary me-2">likes</span>
                    <i class="bi bi-hand-thumbs-up-fill text-primary"></i>
                </section>
                <section class="d-flex border rounded p-2">
                    <span class="text-secondary me-2">{{post.dislikes.all.count}}</span>
                    <span class="text-secondary me-2">dislikes</span>
                    <i class="bi bi-hand-thumbs-down-fill text-danger"></i>
                </section>
            </div>
        </div>
    
        <div class="row">
            <div class="row border-top">
                <section class="col d-flex justify-content-center p-2">
                    <div class="d-flex align-items-center border rounded ms-1">
                        <button type="button" class="btn text-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-chat text-secondary me-1"></i>Comment</button>
                    </div>
                    <div class="d-flex align-items-center border rounded ms-1">
                        <button class="btn text-secondary"><i class="bi bi-share text-secondary me-1"></i>Share</button>
                    </div>
                </section>
            </div>

            <!-- Modal Comment-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Comment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">{% csrf_token %}
                        <div class="modal-body">
                            {{form.comment}}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>

        </div>

        <div class="row overflow-scroll" style="max-height: 500px;">
        {% for i in comments %}
        {% if i.is_parent %}
            <div class="row m-0 p-0 mb-4">
                <div class="row">
                    <div class="col d-flex">
                        <section>
                            <img class="img-fluid rounded-5" src="{{i.author.profile.picture.url}}" style="width: 40px;"> 
                        </section>
                        <div class="container w-auto m-0">
                            <div class="row">
                                <div class="d-flex flex-row justify-content-between ms-2 p-2 border rounded-top-2" style="background-color: #dddddd;">
                                    <section class="d-flex flex-column">
                                        <span class="text-secondary">{{i.author}}</span>
                                        <span>{{i.comment}}</span>
                                    </section>
                                    <section class="d-flex align-items-end">
                                        <span class="text-secondary ms-5" style="font-size: 0.8em;">{{i.created_on|naturaltime}}</span>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex ms-2 p-0">
                                  <section class="col">
                                        <a href="{% url 'social:comment-edit' post.pk i.pk %}" type="submit" class="btn text-secondary p-0">Edit.</a>
                                        <a href="{% url 'social:comment-delete' post.pk i.pk %}" type="submit" class="btn text-secondary p-0">Delete.</a>
                                    </section>
                                    <section class="col d-flex justify-content-center">
                                        <form action="{% url 'social:comment-like' post.pk i.pk %}" method="post">{% csrf_token %}
                                            <button type="submit" class="btn p-0 text-secondary">{{i.likes.all.count}}<i class="bi bi-hand-thumbs-up"></i></button>
                                            <input type="hidden" name="next" value="{{request.path}}">
                                        </form>
                                        <form action="{% url 'social:comment-dislike' post.pk i.pk %}" method="post">{% csrf_token %}
                                            <button type="submit" class="btn p-0 text-secondary">{{i.dislikes.all.count}}<i class="bi bi-hand-thumbs-down"></i></button>
                                            <input type="hidden" name="next" value="{{request.path}}">
                                        </form>
                                    </section>
                                    <section class="col d-flex justify-content-end">
                                        <button type="button" class="btn p-0 text-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-chat"></i>Reply</button>
                                    </section>  
                                </div>

                                <!-- Modal SubComment Chat-->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Responder a {{i.author.username}}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="{% url 'social:comment-reply' post.pk i.pk %}" method="post"> {% csrf_token %}
                                                <div class="modal-body">
                                                {{form.comment}}
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="submit" class="btn btn-danger">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0">
                {% for child_comment in i.children %}
                    <div class="row m-0 p-0">
                        <div class="col d-flex mt-2" style="margin-left: 100px;">
                            <div>
                                <img class="img-fluid rounded-5" src="{{child_comment.author.profile.picture.url}}" style="width: 25px;" >
                            </div>
                            <div class="d-flex flex-column" style="min-width: 30%;max-width: 50%;">
                                <div class="d-flex flex-column ms-2 p-2" style="background-color: #dddddd;">
                                    <span class="text-secondary">{{child_comment.author.username}}</span>
                                    <span>{{child_comment.comment}}</span>
                                    <span class="text-secondary" style="font-size: 0.8em;">{{child_comment.created_on|naturaltime}}</span>
                                </div>
                                <div class="d-flex ms-2">
                                    <section class="col">
                                        <a href="{% url 'social:comment-edit' post.pk child_comment.pk %}" class="btn text-secondary p-0" style="font-size: 0.8em;">Edit.</a>
                                        <a href="{% url 'social:comment-delete' post.pk child_comment.pk %}" class="btn text-secondary p-0" style="font-size: 0.8em;">Delete</a>
                                    </section>
                                    <section class="col d-flex justify-content-center">
                                        <form action="{% url 'social:comment-like' post.pk child_comment.pk %}" method="post">{% csrf_token %}
                                            <button type="submit" class="btn p-0 text-secondary" style="font-size: 0.8em;">{{child_comment.likes.all.count}}<i class="bi bi-hand-thumbs-up"></i></button>
                                            <input type="hidden" name="next" value="{{request.path}}">
                                        </form>
                                        <form action="{% url 'social:comment-dislike' post.pk child_comment.pk %}" method="post">{% csrf_token %}
                                            <button type="submit" class="btn p-0 text-secondary" style="font-size: 0.8em;">{{child_comment.dislikes.all.count}}<i class="bi bi-hand-thumbs-down"></i></button>
                                            <input type="hidden" name="next" value="{{request.path}}">
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}