<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social</title>
    <link href="{% static 'bootstrap/icons/font/bootstrap-icons.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block css %}{% endblock %}
</head>
<body style="background-color: #f4f4f4;">
    <header>
        {% include 'components/navbar/navbar.html' %}
    </header>

    {% block content %}{% endblock %}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
