<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social</title>
    <link href="{% static 'bootstrap/icons/font/bootstrap-icons.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base/index.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'components/navbar/navbar.html' %}
    </header>

    <div class="contenido">

        {% block content %}{% endblock %}

    </div>
</body>
</html>
