{% extends 'pages/base.html' %}

{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/base/index.css' %}"> {% endblock %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3">{% include "components/sidebars/sidebar-left.html"%}</div>
        <div class="col-lg-6">{% include "components/sidebars/sidebar-main.html"%}</div>
        <div class="col-lg-3">{% include "components/sidebars/sidebar-right.html"%}</div>
    </div>
</div>
{% endblock  %}