body {
    background-color: #f0f2f5;
    margin-top: 56px; /* Para evitar que el contenido quede debajo de la barra de navegación */
    font-family: 'Segoe UI';

}

/* BARRA DE NAVEGACION */

.navbar {
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
}

nav div > div:nth-child(2) a {
    color: #000;
    font-size: 1.7rem;
    padding: 0 20px;
}

nav div > div:nth-child(3) a, img {
    color: #000;
    font-size: 1.2rem;
    padding: 0 5px;
}

nav div > div:nth-child(2) a:hover, div > div:nth-child(3) a:hover {
    color: #007bff;
}

/* AREA DE PUBLICACIONES */

/* Barra de publicacion */

.sidebar-public {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.sidebar-public > div:nth-child(1) {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}

.sidebar-public > div:nth-child(1) input {
    background-color: #efefef;
}

.sidebar-public > div:nth-child(2) {
    margin: 10px;
}

.sidebar-public > div:nth-child(2) a {
    padding-inline: 10px ;
    color: black;
    text-decoration: none;
}

.sidebar-public > div:nth-child(2) a:hover {
    color: #007bff;
}

/* Barra de Contenido */

.sidebar-content {
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 20px 10px;
    margin: 20px 0 20px 0;
}

.sidebar-content > div:nth-child(3) {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin-inline: 10px;
    padding: 10px 0 10px;
}

.sidebar-content > div:nth-child(3) div div {
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.sidebar-content > div:nth-child(3) a {
    padding-inline: 5px ;
    color: black;
    text-decoration: none;
}


/* Barra lateral izquierda */

.sidebar-left {

    padding: 1rem;
}

.sidebar-left h3 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #b5b5b5;
}

.sidebar-left ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.sidebar-left ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.sidebar-left ul li a:hover {
    color: #007bff;
}

/* Barra lateral derecha */

.sidebar-right {
    background-color: white;
    border: 1px solid #dfdfdf ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.sidebar-right h3 {
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 2px solid #2981df; /* Línea azul debajo del título */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}